:host {
  display: block;
  height: 4rem;
}
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background:  #1c6ccd
}

.footer a {
  display: flex;
  align-items: center;
  margin: 0 10px;
  text-decoration: none;
}

.footer svg {
  width: 24px;
  height: 24px;
  color: rgb(255, 253, 253);
}

.footer div {
  text-align: center;
}
.apple-logo {
  fill: black;
}
.svg-android-logo{
  color: rgb(147, 207, 147);
}
