<div class="my-container mx-auto">
  <div class="row g-0">
    <div class="col-4 p-4">
      <div class="d-flex justify-content-center align-items-center">
        <img src="../../assets/Images/Images/mobiles/10/{{imageIndex}}.jpg" alt="" class="w-100">
      </div>

      <div class="image-thumbnails mt-4 d-flex justify-content-between align-items-center">
        <img src="../../assets/Images/Images/mobiles/10/1.jpg" alt="Thumbnails Image"
        (click)="imageIndex= 1">
        <img src="../../assets/Images/Images/mobiles/10/2.jpg" alt="Thumbnails Image"
        (click)="imageIndex= 2">
        <img src="../../assets/Images/Images/mobiles/10/3.jpg" alt="Thumbnails Image"
        (click)="imageIndex= 3">
        <img src="../../assets/Images/Images/mobiles/10/4.jpg" alt="Thumbnails Image"
        (click)="imageIndex= 4">
        <img src="../../assets/Images/Images/mobiles/10/5.jpg" alt="Thumbnails Image"
        (click)="imageIndex= 5">
      </div>

    </div>
    <!-- -------------------------------------------------------->

    <div class="col-8 p-4">
      <div class="card">
          <div class="card-header">
              <h2>Modelo</h2>
          </div>

          <div class="card-body">
              <h1 class="card-title text-success">Precio Final

                  <span class="text-primary">-20%</span>
              </h1>
              <h4 class="card-subtitle text-danger text-decoration-line-through">
                  Precio original
              </h4>
          </div>
          <div class="card-body">
              <h6 class="card-subtitle my-2 text-primary"> productos disponibles. </h6>
              <div class="d-grid gap-2">
                  <button type="button" class="btn btn-outline-success"
                         >Agregar al carrito
                      <span >(Login First)</span>
                  </button>
              </div>
          </div>
          <div class="card-body">
              <h5 class="card-text">Descripción</h5>
              <ul class="list-group">
                  <li class="list-group-item list-group-item-action"
                      *ngFor="let item of [1,1,1,1]">
                      {{item}}
                  </li>
              </ul>
          </div>
      </div>
  </div>
</div>

<div class="row g-0">
  <div class="col-12 ps-5 pt-4 pb-3">
      <h3 class="related-products border border-secondary text-center py-2 my-rounded-corner w-25">Productos relacionados</h3>
  </div>

  <div class="col-12 px-4 container">
      <app-suggested-products></app-suggested-products>
  </div>
</div>

  </div>


  <div class="row g-0 my-5">
    <!-- Users Review -->
    <div class="col p-3">
        <h3>
          Da tu review</h3>
        <h5 class="mt-4">Escribe tu review</h5>
        <textarea class="w-75 p-2" ></textarea>
        <div class="d-flex align-items-start">
            <button class="btn btn-outline-secondary mt-4 me-5" type="button" >
               Guardar
            </button>

            <div>
                <h6 class="text-danger mt-4" >Primero inicie sesión, luego ingrese el
                  revisar.</h6>
                <h6 class="text-danger" >¡La review no puede estar vacía!</h6>
                <h6 class="text-success" >¡Review se guardó correctamente!</h6>
            </div>
        </div>
    </div>

   <!-- Other Review -->
   <div class="col p-3">
    <h3>Otras Reviews</h3>
    <h6 >¡Aún no hay reviews!</h6>
    <div class="card mt-3" *ngFor="let review of [1,2,3]" >
        <div class="card-header d-flex justify-content-between">
            <div class="card-text">
              angel
              francc
            </div>
            <div class="card-text fst-italic">
                Reviewed en el: <span class="fw-bold">  {{"20 oct 2022" | date:"dd-MMM-yyyy"}}
                </span>
            </div>
        </div>
        <div class="card-body">
            <div class="card-text">Review</div>
        </div>
    </div>
</div>
</div>
