<div class="my-container mx-auto">

  <section class="m-3 p-4 border border-dark my-rounded-corner">
      <h4 class="w-25 border border-secondary text-center py-2 my-rounded-corner">Información del pago</h4>
      <table class="table w-50 mx-auto table-bordered table-hover my-shadow">
          <tbody>
              <tr>
                  <td>Total Items</td>
                  <td class="fs-5 fw-bold">user</td>
              </tr>
              <tr>
                  <td>Precio Total</td>
                  <td class="fs-5 fw-bold text-danger"> 1200 </td>
              </tr>
              <tr>
                  <td>Gastos de envío</td>
                  <td class="fs-5 fw-bold text-danger">2000</td>
              </tr>
              <tr>
                  <td>Descuento</td>
                  <td class="fs-5 fw-bold text-success">10000</td>
              </tr>
              <tr>
                  <td>Monto a pagar</td>
                  <td class="fs-5 fw-bold text-success">1400</td>
              </tr>
          </tbody>
      </table>
  </section>

  <section class="m-3 p-4 border border-dark my-rounded-corner">
      <h4 class="w-25 border border-secondary text-center py-2 my-rounded-corner">Forma de Pago</h4>
      <div class="d-flex justify-content-center align-items-center">
          <h5 class="me-4">Selecciona forma de pago</h5>
          <select class="form-select w-25" [formControl]="selectedPaymentMethod">
              <option value="0">Abrir este menú de selección</option>
              <option *ngFor="let paymentMethod of [1,1,1,1]" value="{{paymentMethod}}">
                  opcion
                  <span >Forma</span>
              </option>
          </select>
      </div>
  </section>

  <section class="m-3 p-4 border border-dark my-rounded-corner">
      <h4 class="w-25 border border-secondary text-center py-2 my-rounded-corner">Proceder al pago</h4>
      <div  *ngIf="selectedPaymentMethodName !== ''" class="mt-4 w-50" >
          <table class="table table-bordered my-shadow">
              <thead>
                  <tr>
                      <td>Monto a pagar</td>
                      <td> 10000 </td>
                  </tr>
                  <tr>
                      <td>Forma de pago</td>
                      <td> efectivo </td>
                  </tr>
                  <tr>
                      <td>Dirección</td>
                      <td *ngIf="true"> av el sol </td>
                  </tr>
                  <tr>
                      <td>Telefóno</td>
                      <td *ngIf="true"> numero </td>
                  </tr>
              </thead>
          </table>

          <div class="d-grid w-50">
              <button type="button" class="btn btn-outline-success mb-4">
                  Pagar
              </button>
          </div>

          <div class="processing">
              <div class="spinner-border me-4" role="status">
                  <span class="visually-hidden">Loading...</span>
              </div>
              <h6 class="m-0" > cargando </h6>
          </div>
      </div>
  </section>

  <div *ngIf="!false" class="pt-4">
      <h2>No estas registrado</h2>
  </div>
</div>
